---
- name: Deploy Monitoring Stack
  hosts: infra_monitoring
  become: true

  handlers:
    - name: Include various service handlers.
      ansible.builtin.import_tasks: handlers/main.yml

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_role:
        name: common

  tasks:
    - name: Configure Monitoring Stack.
      ansible.builtin.include_tasks: tasks/monitoring-stack.yml