---
services:
  terraria:
    image: {{ apps[app_name].terraria.image }}
    container_name: terraria
    restart: unless-stopped
    mem_limit: 4g
    mem_reservation: 2g
    environment:
      - WORLD_FILENAME={{ apps[app_name].terraria.worldname }}.wld
    ports:
      - "{{ apps[app_name].terraria.port }}:7777"
    volumes:
      - {{ deploy_path }}/games-server/terraria/worlds:/root/.local/share/Terraria/Worlds
    stdin_open: true
    tty: true
    command:
      - -autocreate
      - "{{ apps[app_name].terraria.worldsize }}"
      - -worldname
      - {{ apps[app_name].terraria.worldname }}
      - -difficulty
      - "{{ apps[app_name].terraria.difficulty }}"
      - -maxplayers
      - "{{ apps[app_name].terraria.maxplayers }}"
{% if terraria_server_password %}
      - -password
      - "{{ terraria_server_password }}"
{% endif %}
      - -motd
      - "{{ apps[app_name].terraria.motd }}"
      - -lang
      - "{{ apps[app_name].terraria.language }}"
      - -npcstream
      - "{{ apps[app_name].terraria.npcstream }}"
{% if apps[app_name].terraria.seed %}
      - -seed
      - "{{ apps[app_name].terraria.seed }}"
{% endif %}
      - -secure
      - "1"
