# Provider configuration
proxmox_api_url = "https://nyc-pve-01.home.samuel.computer:8006/api2/json"
proxmox_api_token_id = "root@pam!terraform"
proxmox_api_token_secret = "your-secret-here"

# SSH configuration
ssh_public_key = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIG... your-public-key"

