---
- name: Deploy Games Server
  hosts: games-server
  become: true

  handlers:
    - name: Include various service handlers.
      ansible.builtin.import_tasks: handlers/main.yml

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_tasks: ../common/prereq.yml

  tasks:
    - name: Configure Games Server.
      ansible.builtin.include_tasks: tasks/games-server.yml
