$TTL 86400	; 1 day
@	IN SOA	ns.local.sfc.al. admin.local.sfc.al. (
				{{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}01 ; serial (generated)
				3600       ; refresh (1 hour)
				3600       ; retry (1 hour)
				2419200    ; expire (4 weeks)
				3600       ; minimum (1 hour)
				)
	NS	ns.local.sfc.al.

; Infrastructure servers
1.0	IN PTR	unifi.local.sfc.al.
{% for server in dns_servers %}
{{ server.ip.split('.')[-1] }}.0	IN PTR	{{ server.container_name }}.local.sfc.al.
{% endfor %}

; Kubernetes nodes
51.0	IN PTR	k8s-master-01.local.sfc.al.
52.0	IN PTR	k8s-master-02.local.sfc.al.
53.0	IN PTR	k8s-master-03.local.sfc.al.

; Kubernetes services (Traefik LoadBalancer)
140.0	IN PTR	traefik.local.sfc.al.
