$ORIGIN {{ domain_name }}.
$TTL 86400      ; 1 day
@       IN SOA  ns.{{ domain_name }}. admin.{{ domain_name }}. (
                                {{ ansible_date_time.year }}{{ ansible_date_time.month }}{{ ansible_date_time.day }}01 ; serial
                                3600       ; refresh (1 hour)
                                3600       ; retry (1 hour)
                                2419200    ; expire (4 weeks)
                                3600       ; minimum (1 hour)
                                )
                        NS      ns.{{ domain_name }}.

; Plex requests should resolve from CF
plex    IN    NS    ns1.cloudflare.com.
plex    IN    NS    ns2.cloudflare.com.

; Name servers (internal)
ns              IN A    10.2.20.53

; Split horizon entries - point to internal IPs
; These override external DNS when resolved internally

; A Records - Services (with reverse proxy)
{% for service in services %}
{{ "%-15s"|format(service.name) }} IN A    {{ service.dns_ip }}
{% endfor %}

