# yaml-language-server: $schema=https://squidfunk.github.io/mkdocs-material/schema.json

site_name: Homelab Infrastructure as Code
site_url: https://homelab.samuel.computer
copyright: Copyright &copy; 2025 sfcal

repo_url: https://github.com/sfcal/homelab

theme:
  favicon: assets/images/favicon.png
  name: material
  palette:
    primary: black
  features:
    - navigation.expand
    - navigation.instant
    - navigation.sections
    - search.highlight
    - search.share

markdown_extensions:
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.snippets:
      check_paths: true
  - def_list
  - pymdownx.tasklist:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true

extra_files:
  - CNAME

nav:
  - Home: index.md
  - Getting Started:
    - Quick Start: getting-started/quick-start.md
    - Prerequisites: getting-started/prerequisites.md
    - External Resources: getting-started/external-resources.md
  - Concepts:
    - Network Layout: concepts/network-layout.md
    - GitOps with FluxCD: concepts/gitops-fluxcd.md
  - How-to Guides:
    - Proxmox: how-to-guides/proxmox.md
    - Packer: how-to-guides/packer.md
    - Terraform: how-to-guides/terraform.md
  - Plex:
    - Overview: plex/index.md
    - Getting Started: plex/getting-started.md
    - Browsing & Playing: plex/browsing-and-playing.md
    - Devices: plex/devices.md
  - Reference:
    - FAQ: reference/faq.md
    - License: reference/license.md
    - Roadmap: reference/roadmap.md