---
services:
  stirling-pdf:
    image: {{ apps[app_name].image }}
    container_name: stirling-pdf
    restart: unless-stopped
    ports:
      - "{{ apps[app_name].port }}:8080"
    volumes:
      - {{ deploy_path }}/stirling-pdf/configs:/configs
      - {{ deploy_path }}/stirling-pdf/logs:/logs
      - {{ deploy_path }}/stirling-pdf/data:/usr/share/tessdata
