version: '3'

vars:
  ENV_DIR: 'environments/{{.ENV}}'
  HOSTS_FILE: '{{.ENV_DIR}}/hosts.ini'

tasks:
  deploy-all:
    desc: Deploy entire infrastructure in correct order
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/site.yml
      
  deploy-dns:
    desc: Deploy DNS server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/dns/deploy.yml
  
  deploy-ntp:
    desc: Deploy NTP/PTP server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/time/deploy.yml

  deploy-ca:
    desc: Deploy Certificate Authority
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/step-ca/deploy.yml

  deploy-pxe:
    desc: Deploy PXE server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/pxe/deploy.yml

  deploy-media:
    desc: Deploy media stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/media/deploy.yml
  
  deploy-monitoring:
    desc: Deploy monitoring stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/monitoring/deploy.yml

  # Utility tasks
  ping:
    desc: Ping all hosts in inventory
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible -i {{.HOSTS_FILE}} all -m ping



