version: '3'

vars:
  ENV_DIR: 'environments/{{.ENV}}'
  HOSTS_FILE: '{{.ENV_DIR}}/hosts.ini'

tasks:
  restore-media:
    desc: Restore media stack backup
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/media/restore.yml

  backup-media:
    desc: backup media stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/media/backup.yml

  deploy-all:
    desc: Deploy entire infrastructure in correct order
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/site.yml

  deploy-rproxy:
    desc: Deploy reverse proxy server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/reverse_proxy/deploy.yml

  deploy-dns:
    desc: Deploy DNS server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/dns/deploy.yml

  deploy-media:
    desc: Deploy media stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/media/deploy.yml

  deploy-monitoring:
    desc: Deploy monitoring stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/monitoring/deploy.yml

  add-service:
    desc: Deploy DNS and reverse proxy after adding service to all.yml
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/dns/deploy.yml
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/reverse_proxy/deploy.yml

  # Utility tasks
  ping:
    desc: Ping all hosts in inventory
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible -i {{.HOSTS_FILE}} all -m ping



