version: '3'

vars:
  ENV_DIR: 'environments/{{.ENV}}'
  HOSTS_FILE: '{{.ENV_DIR}}/hosts.ini'

tasks:
  deploy-dns:
    desc: Deploy DNS servers
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/dns/deploy.yml

  deploy-media:
    desc: Deploy media stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/media/deploy.yml

  deploy-time:
    desc: Deploy NTP/PTP server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/time/deploy.yml

  # Utility tasks
  ping:
    desc: Ping all hosts in inventory
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible -i {{.HOSTS_FILE}} all -m ping



