version: '3'

vars:
  ENV_DIR: 'environments/{{.ENV}}'
  HOSTS_FILE: '{{.ENV_DIR}}/hosts.ini'

tasks:
  restore-media:
    desc: Restore media stack backup
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/apps/media/restore.yml

  backup-media:
    desc: backup media stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/apps/media/backup.yml

  deploy-all:
    desc: Deploy entire infrastructure in correct order
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/site.yml

  deploy-services:
    desc: Deploy DNS and reverse proxy (run after modifying services.yml)
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/infrastructure/dns/deploy.yml
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/infrastructure/reverse_proxy/deploy.yml

  deploy-external-monitoring:
    desc: Deploy external monitoring server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/infrastructure/external-monitoring/deploy.yml

  deploy-tailscale:
    desc: Deploy reverse tailscale server
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/infrastructure/tailscale/deploy.yml

  deploy-media:
    desc: Deploy media stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/apps/media/deploy.yml

  deploy-monitoring:
    desc: Deploy monitoring stack
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/infrastructure/monitoring/deploy.yml

  deploy-games:
    desc: Deploy games server (tModLoader Terraria)
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/apps/games-server/deploy.yml

  deploy-website:
    desc: Deploy personal website
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/apps/website/deploy.yml

  deploy-birdle:
    desc: Deploy birdle game
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible-playbook -i {{.HOSTS_FILE}} playbooks/apps/birdle/deploy.yml

  # Utility tasks
  ping:
    desc: Ping all hosts in inventory
    dir: '{{.ROOT_DIR}}/ansible'
    cmds:
      - ansible -i {{.HOSTS_FILE}} all -m ping



