http:
  middlewares:
    default-security-headers:
      headers:
        customBrowserXSSValue: 0
        contentTypeNosniff: true
        forceSTSHeader: true
        frameDeny: false
        referrerPolicy: "strict-origin-when-cross-origin"
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 3153600
        contentSecurityPolicy: "default-src 'self'"
        customRequestHeaders:
          X-Forwarded-Proto: https
    https-redirectscheme:
      redirectScheme:
        scheme: https
        permanent: true
    # Added new Plex-specific middleware
    plex-headers:
      headers:
        frameDeny: false
        browserXssFilter: false  # Plex handles this
        contentTypeNosniff: false  # Plex handles this
        forceSTSHeader: false  # Let Plex control this
        stsIncludeSubdomains: false
        stsPreload: false
        contentSecurityPolicy: ""
        customFrameOptionsValue: "SAMEORIGIN"
        customRequestHeaders:
          X-Forwarded-Proto: "https"
          X-Forwarded-Host: "plex.sfc.al"
          X-Forwarded-Port: "443"
          X-Forwarded-For: ""  # Traefik will populate this
          X-Real-IP: ""  # Traefik will populate this
        customResponseHeaders:
          X-Frame-Options: "SAMEORIGIN"
  routers:
    portainer:
      entryPoints:
        - "https"
      rule: "Host(`portainer.sfc.al`)"
      middlewares:
        - default-security-headers
        - https-redirectscheme
      tls: {}
      service: portainer
    plex:
      entryPoints:
        - "https"
      rule: "Host(`plex.sfc.al`)"
      middlewares:
        - plex-headers  # Changed to use Plex-specific headers
        - https-redirectscheme
      tls: {}
      service: plex
  services:
    portainer:
      loadBalancer:
        servers:
          - url: "https://10.2.0.5:9443"
        passHostHeader: true
    plex:
      loadBalancer:
        servers:
          - url: "http://plex:32400"  # Changed from IP to container name
        passHostHeader: true