---
networks:
  authentik:
    driver: bridge

services:
  postgresql:
    image: postgres:{{ authentik_postgres_version }}
    container_name: authentik-postgres
    restart: unless-stopped
    mem_limit: 1g
    mem_reservation: 512m
    networks:
      - authentik
    environment:
      - POSTGRES_DB=authentik
      - POSTGRES_USER=authentik
      - POSTGRES_PASSWORD={{ authentik_postgres_password }}
    volumes:
      - {{ deploy_path }}/authentik/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d authentik -U authentik"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s

  redis:
    image: redis:{{ authentik_redis_version }}
    container_name: authentik-redis
    restart: unless-stopped
    mem_limit: 512m
    mem_reservation: 256m
    networks:
      - authentik
    command: --save 60 1 --loglevel warning
    volumes:
      - {{ deploy_path }}/authentik/redis:/data
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 30s
      timeout: 5s
      retries: 5
      start_period: 20s

  server:
    image: ghcr.io/goauthentik/server:{{ authentik_version }}
    container_name: authentik-server
    restart: unless-stopped
    mem_limit: 2g
    mem_reservation: 1g
    networks:
      - authentik
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: server
    environment:
      - AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
      - AUTHENTIK_REDIS__HOST=redis
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=authentik
      - AUTHENTIK_POSTGRESQL__NAME=authentik
      - AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgres_password }}
      - AUTHENTIK_BOOTSTRAP_EMAIL={{ authentik_bootstrap_email }}
      - AUTHENTIK_BOOTSTRAP_PASSWORD={{ authentik_bootstrap_password }}
    ports:
      - "{{ authentik_http_port }}:9000"
      - "{{ authentik_https_port }}:9443"
    volumes:
      - {{ deploy_path }}/authentik/media:/media
      - {{ deploy_path }}/authentik/templates:/templates

  worker:
    image: ghcr.io/goauthentik/server:{{ authentik_version }}
    container_name: authentik-worker
    restart: unless-stopped
    mem_limit: 2g
    mem_reservation: 1g
    networks:
      - authentik
    depends_on:
      postgresql:
        condition: service_healthy
      redis:
        condition: service_healthy
    command: worker
    environment:
      - AUTHENTIK_SECRET_KEY={{ authentik_secret_key }}
      - AUTHENTIK_REDIS__HOST=redis
      - AUTHENTIK_POSTGRESQL__HOST=postgresql
      - AUTHENTIK_POSTGRESQL__USER=authentik
      - AUTHENTIK_POSTGRESQL__NAME=authentik
      - AUTHENTIK_POSTGRESQL__PASSWORD={{ authentik_postgres_password }}
    volumes:
      - {{ deploy_path }}/authentik/media:/media
      - {{ deploy_path }}/authentik/templates:/templates
      - {{ deploy_path }}/authentik/certs:/certs