---
services:
  microbin:
    image: {{ microbin_image }}
    container_name: microbin
    restart: unless-stopped
    ports:
      - "{{ microbin_port }}:8080"
    volumes:
      - "{{ deploy_path }}/microbin/data:/app/microbin_data"
    environment:
      - MICROBIN_PORT=8080
      - MICROBIN_PUBLIC_PATH=https://{{ microbin_hostname }}
      - MICROBIN_EDITABLE=true
      - MICROBIN_HIGHLIGHTSYNTAX=true
      - MICROBIN_PRIVATE=true
      - MICROBIN_HIDE_FOOTER=true
