---
- name: Install BIND9.
  ansible.builtin.apt:
    name:
      - bind9
      - bind9utils
      - bind9-doc
    state: present

- name: Deploy BIND9 configuration files.
  ansible.builtin.template:
    src: "templates/{{ item }}.j2"
    dest: "/etc/bind/{{ item }}"
    owner: bind
    group: bind
    mode: 0644
  notify:
    - Check bind9 config
    - Restart bind9
  with_items:
    - named.conf
    - domain.zone
    - 20.2.10.in-addr.arpa.zone

- name: Ensure BIND9 is running and enabled.
  ansible.builtin.service:
    name: bind9
    state: started
    enabled: true