---
- name: Install BIND9.
  ansible.builtin.apt:
    name:
      - bind9
      - bind9utils
      - bind9-doc
    state: present

- name: Deploy BIND9 main configuration.
  ansible.builtin.template:
    src: "templates/named.conf.j2"
    dest: "/etc/bind/named.conf"
    owner: bind
    group: bind
    mode: 0644
  notify:
    - Check bind9 config
    - Restart bind9

- name: Deploy BIND9 zone files per domain.
  ansible.builtin.template:
    src: "templates/domain.zone.j2"
    dest: "/etc/bind/domain-{{ current_domain.name }}.zone"
    owner: bind
    group: bind
    mode: 0644
  loop: "{{ domains }}"
  loop_control:
    loop_var: current_domain
  notify:
    - Check bind9 config
    - Restart bind9

- name: Deploy BIND9 reverse zone.
  ansible.builtin.template:
    src: "templates/20.2.10.in-addr.arpa.zone.j2"
    dest: "/etc/bind/20.2.10.in-addr.arpa.zone"
    owner: bind
    group: bind
    mode: 0644
  notify:
    - Check bind9 config
    - Restart bind9

- name: Ensure BIND9 is running and enabled.
  ansible.builtin.service:
    name: bind9
    state: started
    enabled: true
