#cloud-config
autoinstall:
  version: 1
  refresh-installer:
    update: false
  locale: en_US
  keyboard:
    layout: us
  network:
    version: 2
    ethernets:
      any-en:
        match:
          name: "en*"
        dhcp4: true
  ssh:
    install-server: true
    allow-pw: true
    disable_root: true
  storage:
    layout:
      name: direct
    swap:
      size: 0
  user-data:
    hostname: {{ timeserver_hostname }}
    timezone: {{ system_timezone }}
    users:
      - name: sfcal
        groups: [adm, sudo]
        lock_passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
        passwd: $6$UimDUCDabWu$e5B..jq/qmcuCtq.siSw8pJcIP7crMYQJA7MGR7NpCwsI0.zpSTUPWTsI0QH1Wmslu5j2eAtCm8wRebFd7ccH0
        ssh_authorized_keys:
{% for key in netboot_authorized_keys %}
          - {{ key }}
{% endfor %}
  packages:
    - sudo
    - vim
    - python3
    - openssh-server
