---
services:
  kasm:
    image: {{ apps[app_name].image }}
    container_name: kasm
    privileged: true
    restart: unless-stopped
    ports:
      - "{{ apps[app_name].port }}:{{ apps[app_name].port }}"
      - "{{ apps[app_name].wizard_port }}:3000"
    environment:
      - KASM_PORT={{ apps[app_name].port }}
      - DOCKER_MTU=1500
    volumes:
      - "{{ deploy_path }}/kasm/data:/opt"
      - "{{ deploy_path }}/kasm/docker:/var/lib/docker"
