---
- Media Management:
    - Sonarr:
        icon: sonarr.png
        href: https://sonarr.5am.video
        siteMonitor: http://10.2.0.5:8989
        widget:
          type: sonarr
          url: http://10.2.0.5:8989
          key: {% raw %}{{HOMEPAGE_VAR_SONARR_KEY}}{% endraw %}

    - Radarr:
        icon: radarr.png
        href: https://radarr.5am.video
        siteMonitor: http://10.2.0.5:7878
        widget:
          type: radarr
          url: http://10.2.0.5:7878
          key: {% raw %}{{HOMEPAGE_VAR_RADARR_KEY}}{% endraw %}

    - Bazarr:
        icon: bazarr.png
        href: https://bazarr.5am.video
        siteMonitor: http://10.2.0.5:6767
        widget:
          type: bazarr
          url: http://10.2.0.5:6767
          key: {% raw %}{{HOMEPAGE_VAR_BAZARR_KEY}}{% endraw %}

    - Prowlarr:
        icon: prowlarr.png
        href: https://prowlarr.5am.video
        siteMonitor: http://10.2.0.5:9696
        widget:
          type: prowlarr
          url: http://10.2.0.5:9696
          key: {% raw %}{{HOMEPAGE_VAR_PROWLARR_KEY}}{% endraw %}

- Downloads:
    - SABnzbd:
        icon: sabnzbd.png
        href: https://sabnzbd.5am.video
        siteMonitor: http://10.2.0.5:8080
        widget:
          type: sabnzbd
          url: http://10.2.0.5:8080
          key: {% raw %}{{HOMEPAGE_VAR_SABNZBD_KEY}}{% endraw %}

- Media Processing:
    - Tdarr:
        icon: tdarr.png
        href: https://tdarr.5am.video
        siteMonitor: http://10.2.0.5:8265
        widget:
          type: tdarr
          url: http://10.2.0.5:8265

    - Plex:
        icon: plex.png
        href: https://plex.5am.video
        widget:
          type: plex
          url: http://10.2.0.5:32400
          key: {% raw %}{{HOMEPAGE_VAR_PLEX_KEY}}{% endraw %}

    - Frigate:
        icon: frigate.png
        href: https://frigate.5am.video
        siteMonitor: http://10.2.0.5:5000
        widget:
          type: frigate
          url: http://10.2.0.5:5000

- Monitoring:
    - Grafana:
        icon: grafana.png
        href: https://grafana.5am.video
        siteMonitor: http://10.2.20.30:3000

    - Prometheus:
        icon: prometheus.png
        href: https://prometheus.5am.video
        siteMonitor: http://10.2.20.30:9090
        widget:
          type: prometheus
          url: http://10.2.20.30:9090

    - Uptime Kuma:
        icon: uptime-kuma.png
        href: https://uptime.5am.video
        siteMonitor: http://10.2.20.30:3001
        widget:
          type: uptimekuma
          url: http://178.156.190.134:3001
          slug: default

- Node Exporters:
{% for target in prometheus_node_targets %}
{% set host = target.split(':')[0] %}
{% set port = target.split(':')[1] %}
{% if host == 'localhost' %}
{% set display_host = '10.2.20.30' %}
{% else %}
{% set display_host = host %}
{% endif %}
    - {{ display_host }}:
        icon: prometheus.png
        siteMonitor: http://{{ display_host }}:{{ port }}
        widget:
          type: prometheusmetric
          url: http://10.2.20.30:9090
          label: CPU Usage
          query: 100 - (avg by (instance) (irate(node_cpu_seconds_total{mode="idle", instance="{{ display_host }}:{{ port }}"}[5m])) * 100)
{% endfor %}