---
- name: Deploy ConvertX
  hosts: app_convertx
  become: true

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_role:
        name: common

  roles:
    - role: docker_service
      vars:
        service_name: convertx
        service_compose_template: "{{ playbook_dir }}/templates/compose.yaml.j2"
        service_user: "{{ convertx_user }}"
        service_group: "{{ convertx_group }}"
        service_images:
          - "{{ convertx_image }}"
