# {{ ansible_managed }}
# Network interface configuration for Proxmox VE

auto lo
iface lo inet loopback

{% if proxmox_network_config is defined %}
{% for interface in proxmox_network_config.interfaces %}
auto {{ interface.name }}
iface {{ interface.name }} inet {{ interface.method | default('manual') }}
{% if interface.address is defined %}
    address {{ interface.address }}
{% endif %}
{% if interface.netmask is defined %}
    netmask {{ interface.netmask }}
{% endif %}
{% if interface.gateway is defined %}
    gateway {{ interface.gateway }}
{% endif %}
{% if interface.options is defined %}
{% for option in interface.options %}
    {{ option }}
{% endfor %}
{% endif %}

{% endfor %}

{% if proxmox_network_config.bridges is defined %}
{% for bridge in proxmox_network_config.bridges %}
auto {{ bridge.name }}
iface {{ bridge.name }} inet {{ bridge.method | default('static') }}
{% if bridge.address is defined %}
    address {{ bridge.address }}
{% endif %}
{% if bridge.netmask is defined %}
    netmask {{ bridge.netmask }}
{% endif %}
{% if bridge.gateway is defined %}
    gateway {{ bridge.gateway }}
{% endif %}
    bridge-ports {{ bridge.ports | join(' ') }}
    bridge-stp off
    bridge-fd 0
{% if bridge.vlan_aware is defined and bridge.vlan_aware %}
    bridge-vlan-aware yes
    bridge-vids 2-4094
{% endif %}

{% endfor %}
{% endif %}
{% else %}
# Default configuration - single bridge
auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet manual

auto vmbr0
iface vmbr0 inet static
    address {{ ansible_default_ipv4.address }}
    netmask {{ ansible_default_ipv4.netmask }}
    gateway {{ ansible_default_ipv4.gateway }}
    bridge-ports {{ ansible_default_ipv4.interface }}
    bridge-stp off
    bridge-fd 0
{% endif %}