services:
  caddy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: caddy
    restart: unless-stopped
    environment:
      - CF_API_TOKEN={{ cf_api_token }}
      - CF_EMAIL={{ cf_email }}
      - ACME_AGREE=true
    ports:
      - 2019:2019 # remove if you do not want admin API
      - 80:80
      - 443:443
    volumes:
      - caddy-config:/config
      - caddy-data:/data
      - ./Caddyfile:/etc/caddy/Caddyfile
    networks:
      - caddy # add other containers onto this network to use dns name

volumes:
  caddy-config:
  caddy-data:

# create this first before running compose - docker network create caddy
networks:
  caddy:
    external: true