---
services:
  openbooks:
    image: {{ apps[app_name].image }}
    container_name: openbooks
    restart: unless-stopped
    command: --persist
    ports:
      - "{{ apps[app_name].port }}:80"
    volumes:
      - {{ deploy_path }}/openbooks/books:/books
