---
- name: Deploy DNS Server (BIND9)
  hosts: dns_servers
  become: true
  
  handlers:
    - name: Include various service handlers.
      ansible.builtin.import_tasks: handlers/main.yml

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_tasks: ../common/prereq.yml

  tasks:
    - name: Configure BIND9.
      ansible.builtin.include_tasks: tasks/bind9.yml