---
- name: Create caddy directory.
  ansible.builtin.file:
    path: /opt/caddy
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Create the external caddy docker network.
  community.docker.docker_network:
    name: caddy
    state: present

- name: Deploy Dockerfile.
  ansible.builtin.template:
    src: templates/Dockerfile.j2
    dest: /opt/caddy/Dockerfile
    owner: root
    group: root
    mode: "0644"
  notify:
    - Rebuild caddy

- name: Deploy compose.yaml.
  ansible.builtin.template:
    src: templates/compose.yaml.j2
    dest: /opt/caddy/compose.yaml
    owner: root
    group: root
    mode: "0644"
  notify:
    - Rebuild caddy

- name: Deploy Caddyfile.
  ansible.builtin.template:
    src: templates/Caddyfile.j2
    dest: /opt/caddy/Caddyfile
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart caddy

- name: Ensure Caddy is running.
  community.docker.docker_compose_v2:
    project_src: /opt/caddy
    state: present