# {{ ansible_managed }}
[Unit]
Description=Prometheus Chrony Exporter
After=network.target chrony.service

[Service]
User=chrony_exporter
ExecStart=/usr/local/bin/chrony_exporter --chrony.address=127.0.0.1:323 --collector.sources
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
