---
- name: Create netbootxyz directory structure
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: 0755
  loop:
    - /opt/netbootxyz
    - /opt/netbootxyz/config
    - /opt/netbootxyz/assets

- name: Deploy netbootxyz docker-compose file
  ansible.builtin.template:
    src: "../../../docker/netbootxyz/docker-compose.yaml"
    dest: /opt/netbootxyz/docker-compose.yaml
    mode: 0644
  notify: Restart netbootxyz

- name: Start netbootxyz container
  community.docker.docker_compose_v2:
    project_src: /opt/netbootxyz
    state: present
  register: netbootxyz_output

- name: Display netbootxyz status
  ansible.builtin.debug:
    var: netbootxyz_output