---
services:
  website:
    image: {{ apps[app_name].image }}
    container_name: website
    restart: unless-stopped
    mem_limit: 256m
    mem_reservation: 128m
    ports:
      - "{{ apps[app_name].port }}:80"
