---
- name: Backup Media Stack Configurations
  hosts: media-stack
  become: true

  handlers:
    - name: Include various service handlers.
      ansible.builtin.import_tasks: handlers/main.yml

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_tasks: ../common/prereq.yml

  tasks:
    - name: Run media stack backup.
      ansible.builtin.include_tasks: tasks/backup.yml