---
- Infrastructure:
    - TrueNAS:
        - icon: truenas.png
          href: https://truenas.{{ domain_name }}
    - Proxmox:
        - icon: proxmox.png
          href: https://vm.{{ domain_name }}