---
title: 5am.video
theme: dark
color: slate
headerStyle: clean
layout:
  Media Management:
    style: row
    columns: 4
  Downloads:
    style: row
    columns: 1
  Media Processing:
    style: row
    columns: 3
  Monitoring:
    style: row
    columns: 3