---
- name: Deploy DNS Server (BIND9)
  hosts: dns_server
  become: true
  
  handlers:
    - name: Include various service handlers.
      ansible.builtin.import_tasks: handlers/main.yml

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_role:
        name: common

  tasks:
    - name: Configure BIND9.
      ansible.builtin.include_tasks: tasks/bind9.yml

    - name: Configure Cloudflare DDNS.
      ansible.builtin.include_tasks: tasks/ddns.yml