{
        admin 0.0.0.0:2019
}

{% for domain in domains %}
*.{{ domain.name }} {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }

{% for service in services if service.domain == domain.name and service.proxied | default(false) and service.enabled | default(true) %}
        @{{ service.name }} host {{ service.name }}.{{ domain.name }}
        handle @{{ service.name }} {
{% if service.encode | default(false) %}
                encode {{ service.encode }}
{% endif %}
                reverse_proxy {{ service.backend_host }}:{{ service.backend_port }} {
{% if service.forward_headers | default(false) %}
                        header_up X-Real-IP {remote_host}
                        header_up X-Forwarded-For {remote_host}
                        header_up X-Forwarded-Proto {scheme}
{% endif %}
{% if service.host_header | default(false) %}
                        header_up Host {upstream_hostport}
{% endif %}
{% if service.tls_skip_verify | default(false) or service.read_buffer | default(false) %}
                        transport http {
{% if service.tls_skip_verify | default(false) %}
                                tls
                                tls_insecure_skip_verify
{% endif %}
{% if service.read_buffer | default(false) %}
                                read_buffer {{ service.read_buffer }}
{% endif %}
                        }
{% endif %}
                }
        }

{% endfor %}
}

{% endfor %}
