{
        admin 0.0.0.0:2019
}

{% for domain in domains %}
*.{{ domain.name }} {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }

{% for service in services if service.domain == domain.name and service.proxied | default(false) and service.enabled | default(true) and service.hardcoded_proxy | default(false) %}
{% if service.name == 'plex' %}
        @plex host plex.{{ domain.name }}
        handle @plex {
            encode gzip
            reverse_proxy {{ service.backend_host }}:{{ service.backend_port }} {
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
                header_up Host {upstream_hostport}
                transport http {
                    read_buffer 8192
                }
            }
        }

{% elif service.name == 'uptime' %}
        @uptime host uptime.{{ domain.name }}
        handle @uptime {
            reverse_proxy {{ service.backend_host }}:{{ service.backend_port }} {
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
            }
        }

{% elif service.name == 'vm' %}
        @vm host vm.{{ domain.name }}
        handle @vm {
                reverse_proxy {{ service.backend_host }}:{{ service.backend_port }} {
                        transport http {
                                tls
                                tls_insecure_skip_verify
                        }
                }
        }

{% endif %}
{% endfor %}
{% for service in services if service.domain == domain.name and service.proxied | default(false) and service.enabled | default(true) and not service.hardcoded_proxy | default(false) %}
        @{{ service.name }} host {{ service.name }}.{{ domain.name }}
        handle @{{ service.name }} {
                reverse_proxy {{ service.backend_host }}:{{ service.backend_port }}
        }

{% endfor %}
}

{% endfor %}
