{
        admin 0.0.0.0:2019
}

*.{{ domain_name }} {
        tls {
                dns cloudflare {env.CF_API_TOKEN}
                propagation_delay 2m
                resolvers 1.1.1.1
        }

        @plex host plex.{{ domain_name }}
        handle @plex {
            encode gzip
            reverse_proxy 10.2.0.5:32400 {
                header_up X-Real-IP {remote_host}
                header_up X-Forwarded-For {remote_host}
                header_up X-Forwarded-Proto {scheme}
                header_up Host {upstream_hostport}
                transport http {
                    read_buffer 8192
                }
            }
        }

{% for service in services %}
        @{{ service.name }} host {{ service.name }}.{{ domain_name }}
        handle @{{ service.name }} {
                reverse_proxy {{ service.backend_host }}:{{ service.backend_port }}
        }

{% endfor %}

}
