---
# Restores a media-stack backup from backup_dest_path.
#
# By default the most recent backup is used. To restore a specific archive,
# pass its filename via the extra variable `restore_file`:
#
#   ansible-playbook restore.yml -e "restore_file=media-stack-20250218T040001.tar.gz"
#
- name: Restore Media Stack Configurations
  hosts: app_media-stack
  become: true

  handlers:
    - name: Include various service handlers.
      ansible.builtin.import_tasks: handlers/main.yml

  pre_tasks:
    - name: Include common prerequisites.
      ansible.builtin.include_role:
        name: common

  tasks:
    - name: Run media stack restore.
      ansible.builtin.include_tasks: tasks/restore.yml
